body {
  background-color: #CEECF0;
}
hr {
  /* background-color:  rgba(255, 99, 71, 0); */
  /* up left and right down */
  border-style: dotted none none;
  /* border-top: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none; */
  border-width: 5px;
  /* height: 0px; */
  /* 30% of webpage width */
  color: rgba(180, 180, 180, 0.5);
  width: 5%;
}

img {
  height: 300px;
  width: 300px;
}

h1 {
  color: #3f72af
}

h2 {
  color: #3f72af
}

h3 {
  color: #3f72af
}
